<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <title> Swarmy </title>
</head>
    <body>
        <div class="container">
            <div class="left">
                <div class="card">
                    <img class="logo"src="{{url_for('static', filename='assets/logo.png')}}" alt="logo">
                    <p class="header">Welcome to Swarmy!</p>
                    <p class="text">Scheduling System for Computer Studies
                        in Technological University of the Philippines - Manila
                    </p>
                    <a href="{{url_for('schedname.schedname_page')}}"><button class="button">Get Started<img class="arrow" src="{{url_for('static', filename='assets/right_arrow.png')}}" alt="logo"></button></a>
                    </button>
                </div>
            </div>
            <div class="right">
                <img src="{{url_for('static', filename='assets/splashimg.png')}}" alt="illustration">
            </div>
        </div>
    </body>
</html>