<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/schedname.css') }}" rel="stylesheet">
    <title>swarmy | setup</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="{{url_for('static', filename='assets/logo.png')}}">
                <p class="header-text">Swarmy</p>
            </div>
            <p class="indicator">GET STARTED</p>
            <div class="progress">
                <div id="progressBar" class="progress-bar"></div>
            </div>
        </div>
    </header>
    <main>
        <div id="schedName">
            <div class="content">
                <div class="question">
                    <div class="card1">
                        <p class="head">What is the schedule name?</p>
                        <p class="body-text">Enter your desired schedule name, you can always change it later.</p>
                    </div>
                    <div class="card2">
                        <form>
                            <div class="input-container">
                                <img src="{{url_for('static', filename='assets/calendar-icon.svg')}}">
                                <input type="text" placeholder="Enter schedule name">
                            </div>
                        </form>
                    </div>
                    <div class="card3">
                        <button id="roomSchedNext" class="next-back-button next">Next</button>
                    </div>
                </div>
            </div>
        </div>  

        <div id="roomSchedule">
            <div class="content">
                <div class="question">
                    <div class="card1">
                        <p class="head">How many rooms to schedule?</p>
                        <p class="body-text">Enter how many rooms are available to be scheduled.</p>
                    </div>
                    <div class="card2">
                        <form>
                            <div class="input-container">
                                <img src="{{url_for('static', filename='assets/calendar-icon.svg')}}">
                                <input type="text" placeholder="Number of rooms">
                            </div>
                        </form>
                    </div>
                    <div class="card3">
                        <button id="schedNameBack" class="next-back-button back">Back</button>
                        <button id="programNext" class="next-back-button next">Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="programs">
            <div class="content">
                <div class="question">
                    <div class="card1">
                        <p class="head">What are the programs?</p>
                        <p class="body-text">Select the programs you want to include in the schedule.</p>
                    </div>
                    <div class="card2">
                        <form>
                            
                        </form>
                    </div>
                    <div class="card3">
                        <button id="roomSchedBack" class="next-back-button back">Back</button>
                        <button id="programNext" class="next-back-button next">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }} "></script>
</body>
</html>