<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width" initial-scale="1.0" name="viewport">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link href=" {{ url_for('static', filename='css/schedule.css') }}" rel="stylesheet">
        <title>Swarmy</title>
    </head>
    <body>
        <header>
            <div class="logo blue-text fw-700">
                <div>
                    <img src="{{url_for('static', filename='assets/logo.png')}}">
                    <p class="logo-text">Swarmy</p>
                </div>
                <div id="createSchedule" class="generate-new-sched">
                    <p>Create New Schedule</p>
                </div>
            </div>
            <div class="header blue-text fw-700">
                <p>GENERATED SCHEDULES</p>
            </div>
        </header>
        <main>
            {% if data %}
                {% for key, value in data.items() %}
                    <div class="schedule-container">
                        <p class="table-header blue-text fw-700">{{ key }}</p>
                        <table>
                            <thead class='blue-bg'>
                                <tr>
                                    <th>Subject</th>
                                    <th>Professor</th>
                                    <th>Time</th>
                                    <th>Room</th>
                                <tr>
                            </thead>
                            <tbody class='blue-text'>
                                {% for item in value %} 
                                <tr>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                    <td>{{ item[4] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <div class="schedule-container">
                    <p class="table-header blue-text fw-700">{{ key }}</p>
                    <table>
                        <thead class='blue-bg'>
                            <tr>
                                <th>Subject</th>
                                <th>Professor</th>
                                <th>Time</th>
                                <th>Room</th>
                            <tr>
                        </thead>
                        <tbody class='blue-text'>
                            <tr>
                                <td class="no-schedule-text" colspan="4">Unable to retrieve schedules</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div id="profModal">
                <div id="insufficientProfModal" class="modal-conflict">
                    <p class="fw-700">Insufficient Professors</p>
                    <p class="subtitle">Total Sections: <span id="totalSections"></span></p>
                    <p class="subtitle">Scheduled Sections Only: <span id="scheduledSections"></span></p>
                    <button id="cancel-prof-modal-button">OK</button>
                </div>
            </div>
            <div id="roomModal">
                <div id="insufficientRoomModal" class="modal-conflict">
                    <p class="fw-700">Insufficient Room</p>
                    <p class="fw-600">Conflict schedule found in:</p>
                    <table id="conflictTable">
                        <thead>
                            <tr>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Professor</th>
                                <th>Time</th>
                                <th>Room</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="cancel-room-modal-button">OK</button>
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='js/schedule.js') }} "></script>
    </body>
</html>